
<div id="Madeprojects>">
  <div class="row">
    <div class="col-xs-12">
      <a style="cursor: pointer;" [routerLink]="[index]"routerLinkActive="active"  class="list-group-item clearfix">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ project.name }}</h4>
          <h5 class="list-group-item-text">{{ project.date }}</h5>
        </div>
        <span class="pull-right">
          <img
            [src]="project.imagePath"
            alt="{{ project.name }}"
            class="img-responsive"
            style="max-height: 50px;">
        </span>

      </a>

    </div>
  </div>


  </div>
