
<div class="container">


<form name="newCounter">
  <fieldset>
    <button
    type="button" routerLink="/project" id="cancel">X</button>
    <div class="form-group">
      <label for="Name"> Name of the counter</label>
      <input class="form-control" type="text" id="Name">
  </div>

  <div class="form-group">
    <label for="Date"> Date</label>
    <input class="form-control" type="date" id="date">
</div>

    <div class="form-group">
      <label for="imagePath"> Image URL </label>
      <input class="form-control" type="text" id="imagePath">
    </div>

    <button type="submit" class="btn btn-primary" > Tee countteri </button>


       </fieldset>
    </form>
  </div>

