
<div class="container">


  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <button
      type="button" routerLink="/project" id="cancel" (click)="onCancel()">X</button>
      <div class="form-group">
        <label for="Name"> Name of the counter</label>
        <input class="form-control" type="text" formControlName="name" id="Name">
    </div>

    <div class="form-group">
      <label for="Date"> Date</label>
      <input class="form-control" type="date" formControlName="date" id="date">
  </div>

      <div class="form-group">
        <label for="imagePath"> Image URL </label>
        <input class="form-control" formControlName="imagePath" type="text" id="imagePath">
      </div>

      <button type="submit" class="btn btn-success" id="save" [disabled]="!projectForm.valid">Save</button>


         </fieldset>
      </form>
    </div>

